{% extends 'pages/main.html'%}
{% load static %}
{% block content%}
<div class="contact">
  <div class="contact-img">
    <h1 class="text-muted text-center">Contact Image</h1>
  </div>


  <div class="shadow-sm rounded bg-white mt-2 p-5">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-12">
        <h5 class="text-uppercase font-weight-bold text-danger text-center">Contact us</h5>

        <h6 class="text-uppercase">Call us:</h6>
        <ul>
          <li>Tel: +855(0) 16 95 988</li>
          <li>Tel: +855(0) 973 605 128</li>
        </ul>
        <hr>
        <h6 class="text-uppercase">Email us:</h6>
        <ul>
          <li>admin@odaopportunitiescambodia.org </li>
        </ul>
      </div><!--lg-3-->
      <div class="col-lg-8 col-md-8 col-12 ">
        <h5 class="text-uppercase font-weight-bold text-danger text-center pb-2">Sending Message to us</h5>

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control " placeholder="Name">
              <input type="email" class="form-control mt-1" placeholder="email">
              <input type="subject" class="form-control mt-1" placeholder="Subject">
              <button class="btn btn-primary mt-1" type="submit">Send Message</button>
            </div><!--md-6-->

            <div class="form-group col-md-6">
              <textarea class="form-control" placeholder="Message to us" rows="6"></textarea>
            </div><!--md-6-->

          </div><!--form-row-->
        </form>
      </div><!--lg-8-->
    </div><!--row-->


<hr>


        <div class="row">
          <div class="col-md-12 col-12">
                <h5 class="text-uppercase font-weight-bold text-danger text-center pt-3"> visit oda</h5>
                <p>ODA Central School and Art Gallery is located at Sras Srang Village,
                  near the magnificent Angkor Wat and Angkor Thom complex which is 10 km from Siem Reap town.  </p>
                <p>Visitors to ODA are very welcome but by appointment. As you can understand, this is the children’s
                  school and protection of them is a priority for us.  During your visit, you may be lucky enough to see
                   the children in their classes, creating art work or playing football,
                  however we ask that you respect their privacy and minimize disruption to their lessons and activities.</p>
                  <p>Please email for appointments: <a href="#">admin@odaopporunitiescambodia.org</a>
                     A visit to ODA can be incorporated into your tour day at the Temples.</p>
                  <hr>

                  <h5 class="text-uppercase font-weight-bold text-danger text-center pt-3"> Mail address for ODA</h5>
                  <p>It’s critical to include Leng's phone no on the address details, to ensure they notify us when received at the P.O.
                    there is no delivery, also mail needs to be registered in some way to ensure arrival.</p.
                    <ul>
                      <li>ODA Opportunities of Development thru Art</li>
                      <li>P.O. Box 93275  Siem Reap</li>
                      <li>Ph LengTouch  (+855) (0) 16 951 988  (0)973 605 128</li>
                      <li>Siem Reap Angkor Cambodia</li>
                    </ul>
                  <p>ODA full location address but NOT for any mail – as there is no delivery at all.
                    Please email well in advance to book visits  admin@odaopportunitiescambodia.org</p>
                  <ul>
                    <li>ODA Opportunities of Development thru Art</li>
                    <li>Ph LengTouch +855 (0) 16 951 988  +855 (0)973 605 128</li>
                    <li>Sras Srang Kang Tbong Village Sras Srang Kang Tbong Village Siem Reap Province & District, Cambodia</li>
                  </ul>
                  <p class="font-italic">ake the road from Angkor Wat to Ta Prohm, ODA is located between the Kravan Temple and
                    Banteay Kdei archeological sites, just before Sras Srang Lake. </p>
          </div>
        </div><!--row-->

        <hr>

        <div class="row">
          <div class="col-md-12">
            <h5 class="text-uppercase font-weight-bold text-danger text-center pt-3">Google Map</h5>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3880.7581514270364!2d103.90244675305416!3d13.42729162313802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3110160766874e35%3A0x1407aacd82d75adc!2z4Z6f4Z-S4Z6a4Z-H4Z6f4Z-S4Z6a4Z6E4Z-L!5e0!3m2!1skm!2skh!4v1593790164575!5m2!1skm!2skh" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
          </div>
        </div><!--row-->

      </div>
  </div>



{% endblock %}
